<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>book stall</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-search">
            <input type="text" id="finder" placeholder="Search...">
        </div>
        <div class="navbar-logo">
            <img src="/book-svgrepo-com.svg" style="height: 50px;" alt="Logo">
        </div>
        <div class="navbar-right">
            <a href="#" class="navbar-button">Login</a>
            <a href="#" class="navbar-button">Add to Cart</a>
        </div>
    </div>
         <div id="books">
            <h1>recomdation</h1>
            <div class="recomdation">
               <form action="/" method="post">
            <input type="text" name="title" id=""placeholder="book name" >
            <input type="text" name="author" id=""placeholder="author name" >
            <input type="text" name="img" id=""placeholder="image" >
            <input type="text" name="cost" id=""placeholder="cost" >
            <input type="text" name="genre" id=""placeholder="genre" >
            <input type="text"  name="details" id=""placeholder="summary">
            <button type="submit">submit</button>
               </form>
             
            </div>
            <div class="newest">

            </div>
            <div class="trending">

            </div>
            <div class="romance">

            </div>
            <div class="thriller">

            </div>
            <div class="fantasy">

            </div>

         </div>
         <script src="/home.js"></script>
    </body>
    </html>
    
  
</body>
</html>